:local .background {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

:local .page {
    background: white;
    width: 21cm;
    min-height: 29.7cm;
    height: 100%;
    margin: 4em 0em 4em 0em;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--sheet-border-color);
}

:local .doc {
    margin: 3cm;
}

:local .docViewContainer {
    flex: 1;
    background-color: var(--sheet-background-color);
    overflow: auto;
}
/* Scrollbar */
:local .docViewContainer::-webkit-scrollbar-thumb {
    background-color: transparent;
}
:local .docViewContainer::-webkit-scrollbar-track {
    background-color: transparent;
}
:local .docViewContainer::-webkit-scrollbar {
    width: 0.6em;
}
/* Scrollbar display */
:local .docViewContainer:hover::-webkit-scrollbar-thumb{
    background-color: rgba(64, 128, 128, 0.4);
}
