:local .treeView{
    flex: 1;
    background-color: var(--tree);
    overflow: hidden;
    list-style: none;
    color: #424243;
    text-align: left;
    font-size: 12px;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
}
/* Scrollbar */
:local .treeView::-webkit-scrollbar {
    width: 0.3em;
}
:local .treeView::-webkit-scrollbar-thumb {
    background-color: rgba(64, 128, 128, 0.4);
}
:local .treeView::-webkit-scrollbar-track {
    background-color: transparent;
}
:local .treeView:hover {
    overflow: auto;
}

:local .treeView ul {
    box-shadow: none;
    outline: none;
    margin: 0;
    padding: 0;
}

:local .label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    align-content: center;
}

:local .hoverTarget {
    display: flex;
}
:local .hoverTarget > div {
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
}
:local .hoverTarget:hover {
    color: black;
    background-color: rgba(12, 87, 193, 0.08);
}

:local .hoverTarget > div > svg, :local .hoverTarget > div > div {
    pointer-events: none;
    display: inline-block;
}


/* Document Selector */
:local .dropdown {
    background: var(--doc-manager);
    cursor: pointer;
    user-select: none;
    color: var(--doc-manager-font);
    border-bottom: 1px solid var(--doc-manager-bottom-border);
}
:local .dropdown > div {
    display: flex;
    align-items: center;
}
:local .dropdown > div:hover {
    background: var(--doc-manager-hover);
    color: var(--doc-manager-hover-font);
}
:local .dropdownDoc {
    width: 100%;
    text-align: left;
    padding-left: 11px;
}
:local .newDoc > div {
    color: gray;
}
:local .newDoc:hover > div {
    color: black;
}
:local .newDoc > div > svg {
    height: 20px;
    width: 20px;
    background: transparent;
    transition: 0.3s all ease;
}
:local .newDoc:hover > div > svg {
        height: 15px;
        width: 15px;
        color: var(--doc-manager-add);
        background: white;
        border-radius: 15px;
        border: 1px solid var(--doc-manager-add);
}
:local .dropdownDocItem > div:last-child > svg {
    opacity: 0;
        height: 20px;
        width: 20px;
        color: var(--doc-manager-remove);
        background: transparent;
        transition: 0.3s all ease;
}
:local .dropdownDocItem:hover > div:last-child > svg {
    opacity: 1;
}
:local .dropdownDocItem > div:last-child > svg:hover {
    opacity: 1;
        height: 14px;
        width: 14px;
        color: white;
        padding: 2px;
        border-radius: 15px;
        background: var(--doc-manager-remove-hover);
        border: 1px solid white;
}
