:local .treeView{
    color: rgba(56, 58, 66, 0.8);
    text-align: left;
    font-size: 12px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    list-style: none;
}

:local .treeView ul {
    box-shadow: none;
    outline: none;
    margin: 0;
    padding: 0;
}

:local .label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    align-content: center;
}

:local .hoverTarget {
    display: flex;
    border-left: 0.3em solid transparent;
}
:local .hoverTarget > div {
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
}
:local .hoverTarget:hover {
    color: black;
    border-left: 0.3em solid #4DAF7C;
    background-color: rgba(77, 175, 124, 0.1);
}

:local .hoverTarget > div > svg, :local .hoverTarget > div > div {
    pointer-events: none;
    display: inline-block;
}


/* Document Selector */
:local .dropdown::before {
    content: "";
    position: absolute;
    left: 8px;
    margin-top: -11px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 11px solid white;
    background: transparent;
}
:local .dropdown {
    position: absolute;
    right: 0px;
    left: 28px;
    margin-top: 14px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) -4px 4px 15px 1px;
    cursor: pointer;
    user-select: none;
}
:local .dropdown > div {
    display: flex;
    align-items: center;
}
:local .dropdown > div:hover {
    background: #eff3f9;
}
