:local .treeView{
    flex: 1;
    background-color: var(--tree);
    overflow: hidden;
    list-style: none;
    color: #424243;
    text-align: left;
    font-size: 12px;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
}
/* Scrollbar */
:local .treeView::-webkit-scrollbar {
    width: 0.3em;
}
:local .treeView::-webkit-scrollbar-thumb {
    background-color: rgba(64, 128, 128, 0.4);
}
:local .treeView::-webkit-scrollbar-track {
    background-color: transparent;
}
:local .treeView:hover {
    overflow: auto;
}

:local .treeView ul {
    box-shadow: none;
    outline: none;
    margin: 0;
    padding: 0;
}

:local .label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    align-content: center;
}

:local .hoverTarget {
    display: flex;
    align-items: center;
    height: 28px;
}
:local .hoverTarget:hover {
    color: black;
    background-color: rgba(12, 87, 193, 0.08);
}

:local .hoverTarget > svg, :local .hoverTarget > div {
    pointer-events: none;
    display: inline-block;
}


/* Document Selector */
:local .dropdown {
    background: var(--doc-manager);
    cursor: pointer;
    user-select: none;
    color: var(--doc-manager-font);
    border-bottom: 1px solid var(--doc-manager-bottom-border);
}
:local .dropdown > div {
    display: flex;
    align-items: center;
    height: 35px;
}
:local .dropdown > div:hover {
    background: var(--doc-manager-hover);
    color: var(--doc-manager-hover-font);
}

:local .newDoc > div {
    color: gray;
}
:local .newDoc:hover > div {
    color: black;
}
:local .newDoc > svg {
    height: auto;
    width: 16px;
    margin: 0px 7px;
    background: transparent;
    transition: 0.2s all ease;
    border-radius: 15px;
    color: gray;
    border: 1px solid transparent;
}
:local .newDoc:hover > svg {
    color: var(--doc-manager-add);
    background: white;
    border: 1px solid var(--doc-manager-add);
}

:local .dropdownDocItem > div {
    color: gray;
    width: 100%;
    text-align: left;
}
:local .dropdownDocItem:hover > div {
    color: black;
}
:local .dropdownDocItem > svg:last-of-type {
    opacity: 0;
    margin-right: 7px;
    height: auto;
    width: 20px;
    color: var(--doc-manager-remove);
    background: transparent;
    transition: 0.2s all ease;
    border-radius: 15px;
    border: 1px solid transparent;
}
:local .dropdownDocItem:hover > svg:last-of-type {
    opacity: 1;
}
:local .dropdownDocItem  > svg:last-of-type:hover {
    opacity: 1;
    height: auto;
    width: 16px;
    fill: white;
    padding: 1px;
    border-radius: 15px;
    border: 1px solid white;
    background: var(--doc-manager-remove-hover);
}

:local .dropdownDocItem > svg:first-of-type {
    opacity: 0;
    height: auto;
    width: 20px;
    margin: 0px 7px;
    color: var(--doc-manager-remove);
    background: transparent;
    transition: 0.2s all ease;
    border: 1px solid transparent;
    border-radius: 15px;
}
:local .dropdownDocItem:hover > svg:first-of-type {
    opacity: 1;
}
:local .dropdownDocItem > svg:first-of-type:hover {
    color: white;
    background: var(--doc-manager-config-color-active);
    border-radius: 15px;
    border: 1px solid var(--doc-manager-config-color-active);
}
