:local .editor {
    position: absolute;
    z-index: 1;
    margin: auto;
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
:local .header {
    background-color: var(--toolbar);
    color: rgba(#ffffff, 0.6);
    display: flex;
    border: solid var(--tree-border-right-color);
    border-width: 1px 0px 1px 0px;
}
:local .footer {
    background: var(--color-d);
    width: 100%;
    height: 25px;
    color: hsla(0,0%,100%,.6);
}
:local .main {
    flex: 1;
    display: flex;
    flex-direction: row;
    color: rgba(0, 0, 0, .9);
}
:local .nav {
    display: flex;
    flex-direction: column;
    width: 25em;
    border-right: 1px solid var(--tree-border-right-color);
}
:local .mainSection {
    flex: 1;
    background-color: var(--sheet-background-color);
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Resizer */
:local .resizer {
    cursor: e-resize;
    width: 5px;
}
:local .resizerHead{
    height: var(--tabs-height);
    border-bottom: 0px solid var(--tabs-separator);
    background: var(--tabs-background);
}
:local .resizerBody{
    background: var(--sheet-background-color);
}
