:local .shadow:hover {
    box-shadow: -2px 0 0 0 #6ba9ce;
}
:local .editable {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    resize: none;
    outline: none;
    border: none;
    font-size: inherit;
    background-color: inherit;
    vertical-align: middle;
}

/***************
*** USE CASE ***
***************/
:local .useCase {
    composes: shadow;
    margin-bottom: 12pt;
    text-align: justify;
    line-height: 15pt;
    font-size: 11pt;
    font-family: Calibri;
}
:local .useCase > table {
    width: 100%;
    text-align: justify;
}
:local .useCase th {
    user-select: none;
    cursor: default;
}
:local .useCase td {
    width: 100%;
}

/**************
*** DEFAULT ***
**************/
:local .default {
    text-align: justify;
}
