:local .scrollbar {
    overflow: hidden;
}

/* Scrollbar */
:local .scrollbar::-webkit-scrollbar {
    width: 0.3em;
}
:local .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(64, 128, 128, 0.4);
}
:local .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}
:local .scrollbar:hover {
    overflow: auto;
}
