:local .header {
    background: var(--color-c);
    width: 100%;
    height: 70px;
    color: hsla(0,0%,100%,.6);
}
:local .footer {
    background: var(--color-d);
    width: 100%;
    height: 25px;
    color: hsla(0,0%,100%,.6);
}
:local .main {
    flex: 1;
    display: flex;
    flex-direction: row;
    color: rgba(0, 0, 0, .9);
}
:local .nav {
    width:20em;
    background-color: var(--color-a);
    overflow: hidden;
}
:local .section {
    flex: 1;
    background-color: var(--color-b);
    height: 100%;
    overflow: hidden;
}
:local .nav:hover, :local .section:hover {
    overflow: auto;
}

/* Scrollbar */
:local .nav::-webkit-scrollbar {
    width: 0.3em;
}
:local .nav::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.05);
    border-radius: 5px;
}
:local .nav::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.15);
}

/* Resizer */
:local .main > span {
    width: 2px;
    height: 100%;
    background: gray;
    cursor: e-resize;
    margin: 0px 0px 0px 1px;
}
